In [25]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split

import pandas as pd

In [26]:
movies = pd.read_csv('../lecture-1/movies.csv')
ratings = pd.read_csv('../lecture-1/ratings.csv')

In [27]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [28]:
movies_with_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [29]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [30]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

In [31]:
trainset, testset = train_test_split(data, test_size=.15, random_state=42)

In [32]:
%%time
algo = SVD(n_factors=20, n_epochs=20)
algo.fit(trainset)

CPU times: user 2.44 s, sys: 12.6 ms, total: 2.45 s
Wall time: 2.47 s

In [33]:
test_pred = algo.test(testset)

In [34]:
accuracy.rmse(test_pred, verbose=True)

RMSE: 0.8680

0.8679542850253241

In [35]:
algo.predict(uid=2.0, iid='Mortal Kombat (1995)')

Prediction(uid=2.0, iid='Mortal Kombat (1995)', r_ui=None, est=2.647176471102408, details={'was_impossible': False})